.blog__img-eyecatch {
  width: 100%;
}
body {
  padding-left: 20px;
}
.top-ttl {
  font-size: 36px;
  margin-top: 40px;
  margin-bottom: 20px;
}
.top__ttl-wrap {
  font-size: 24px;
  margin: 40px 0;
}
.top p {
  letter-spacing: 1px;
  line-height: 24px;
}
.top span {
  font-weight: bold;
}
.blog h3 {
  margin: 28px 0;
}
.form-item {
  display: flex;
  padding-top: 10px;
  /* width: 100%; */
}
.form-item-label {
  font-weight: bold;
  width: 18%;
  text-align: center;
}
.form-item-textarea {
  height: 160px;width: 260px;
}